In [1]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
data = requests.get(url).text

In [4]:
soup = BeautifulSoup(data,"html5lib")

In [5]:
table = soup.find('table')
ln = []
aas = []
for row in table.find_all('tr'):
    cols = row.find_all('td')
    language_name = cols[1].getText()
    annual_average_salary = cols[3].getText()
    ln.append(language_name)
    aas.append(annual_average_salary)
import pandas as pd
df_salary = pd.DataFrame(aas, ln)

In [6]:
df_salary.to_csv('popular-languages.csv')
pd.read_csv('popular-languages.csv', header = 1)

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082